 /* line-height
    letter-spacing
    word-spacing
    text-transform
    text-decoration
*/ 

a{
    font-size: 20px;
    text-decoration: none;
}
h1{
    text-transform: uppercase;
    text-decoration: line-through;
}
.one{
    line-height: 2.5em;
}
.two{
    letter-spacing: 5px;
    text-decoration: overline;
    /* text-decoration: underline; */
}
.three{
    word-spacing: 20px;
}