 /* 
    ICONS :
       Font-Awesome Icons
       Free , Easy to get up running , simple syntax 
*/

.fa-home {
    color : green ;
}
.social-icon {
    font-size : 4rem;
    color : blue;
}


/*	If you want you can also download the package of  FONTAWESOME   website with some files and use it as an link  	*/



    
    