/*  transition : ( change over time )       
    shorthand
*/

div {
    width : 150px;
    height : 150px;
    display : inline-block;
}
.one {
    background : red;
}
.two {
    background : green;
}
.three {
    background : blue;
    /* transition-property : background 3s 2s , border-radius 5s 1s; */
    transition : all 3s 2s ;        
}
    
.three:hover {
    border-radius : 50% ;
    background : coral ;
} 
    