/*  Position Fixed  */

botton{
    background: red;
    font-size: 40px;
    color: white;
    position: fixed;                 /*___ Position Fixed ________________*/
    top: 0;
    right: 0;
}


/* 
    div
    .one
    .two
    .special
*/