/*  
    CSS VARIABLES AKA Custom Properties
        hold a value and reuse it
        --varName:value
        property : var(--varName)
        
        scope
        :root {} === global
        element === local
        any property


.heading {
color : #f15039 ; 
}
.text {
color : #32ff09 ;
}
.main-text {
color : #1313fa ;
}
.second-heading {
color : #f15025 ;
}

*/

:root {
    --primaryColor : #f15039 ;
    --secondaryColor : #1313fa ;
    --mainTransition : all 2.5s linear ;
}
.heading {
    color : var(--primaryColor);
}
.second-heading {
    color : var(--primaryColor);
    transition : var(--mainTransition);
}
.second-heading :hover {
    color : var(--secondaryColor);
}


/*    local variable   */
div {
    --primaryRed : red;
}
.main-text {
    color : var(--primaryRed);
}
.third-heading {
    color : var(--primaryRed);
}