/* em - RELATIVE depends on parent
        1em = 16px default browsers style;
        1em = base value
*/ 

div{
    font-size: 10px;
}
.relative{
      font-size: 2em;
}
.absolute{
      font-size: 32px;
}